version: "3.9"

services:
  redis:
    image: redis:7.2.4-alpine
    container_name: footballay-dev-redis
    command: redis-server --requirepass 1234 --port 6379 --loglevel notice
    ports:
      - "6379:6379"
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "5"
    restart: unless-stopped

  postgres:
    image: postgres:17.4
    container_name: footballay-dev-postgres
    environment:
        POSTGRES_DB: footballay_core
        POSTGRES_USER: dev
        POSTGRES_PASSWORD: dev1234
        TZ: Asia/Seoul
    ports:
        - "5432:5432"
    volumes:
        - postgres_data:/var/lib/postgresql/data
        - ./init-schema.sql:/docker-entrypoint-initdb.d/init-schema.sql:ro
        - ./logs/postgres:/var/lib/postgresql/data/pg_log
    command: >
        postgres -c logging_collector=on
        -c log_directory=pg_log
        -c log_filename='postgresql-%Y-%m-%d_%H%M%S.log'
        -c log_rotation_age=1d
        -c log_rotation_size=100MB
        -c log_truncate_on_rotation=on
        -c log_destination=stderr
        -c log_line_prefix='%m [%p] %q%u@%d '
        -c client_min_messages=notice
        -c log_statement=ddl
        -c log_min_duration_statement=300ms
        -c log_lock_waits=on
        -c deadlock_timeout=1s
        -c log_temp_files=0
        -c log_checkpoints=on
        -c log_autovacuum_min_duration=0
        -c shared_preload_libraries='pg_stat_statements,auto_explain'
        -c pg_stat_statements.track=all
        -c auto_explain.log_min_duration=200ms
        -c auto_explain.log_analyze=on
        -c auto_explain.log_buffers=on
        -c auto_explain.log_timing=on
        -c auto_explain.log_nested_statements=on
        -c auto_explain.sample_rate=1.0
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "5"
    restart: unless-stopped

volumes:
  postgres_data:
    driver: local

