<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <title>관리자 페이지</title>
</head>
<body>
<h1>admin page</h1>
<form action="/admin/cache/league" method="post">
    <input type="text" name="leagueId" placeholder="League ID" required>
    <button type="submit">Cache League</button>
</form>
<form action="/admin/cache/team" method="post">
    <input type="text" name="teamId" placeholder="Team ID" required>
    <button type="submit">Cache Team</button>
</form>
<form action="/admin/cache/team/squad" method="post">
    <input type="text" name="teamId" placeholder="Team ID for Squad" required>
    <button type="submit">Cache Team Squad</button>
</form>
<form action="/admin/cache/team/leagues" method="post">
    <input type="text" name="teamId" placeholder="Team ID for Squad" required>
    <button type="submit">Cache Leagues of Team</button>
</form>
<form action="/admin/cache/league/current" method="post">
    <button type="submit">Cache All Current Leagues</button>
</form>
<form action="/admin/cache/fixtures" method="post">
    <label>
        From
        <input type="date" name="from" />
    </label>
    <label>
        To
        <input type="date" name="to" />
    </label>
    <button type="submit">Cache Fixture From To</button>
</form>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.querySelectorAll('form').forEach(form => {
            form.addEventListener('submit', function(e) {
                e.preventDefault(); // 폼의 기본 제출 동작을 방지합니다.

                const actionUrl = this.action;
                const formData = new FormData(this); // 폼 데이터를 쉽게 처리할 수 있도록 FormData 객체를 사용합니다.

                fetch(actionUrl, {
                    method: 'POST',
                    body: formData // FormData 객체를 직접 요청의 body로 설정합니다.
                })
                    .then(response => response.text())
                    .then(data => alert("응답: " + data))
                    .catch(error => alert("요청 실패"));
            });
        });
    });
</script>
</body>
</html>

<!--&lt;!&ndash;순위 위젯 예시&ndash;&gt;-->
<!--<div style="width: 30%">-->
<!--<div id="wg-api-football-standings"-->
<!--     data-host="v3.football.api-sports.io"-->
<!--     data-key="491284416b36272d8e1bcd3262a74a9c"-->
<!--     data-league="39"-->
<!--     data-team=""-->
<!--     data-season="2023"-->
<!--     data-theme=""-->
<!--     data-show-errors="false"-->
<!--     data-show-logos="true"-->
<!--     class="wg_loader">-->
<!--</div>-->
<!--<script-->
<!--        type="module"-->
<!--        src="https://widgets.api-sports.io/2.0.3/widgets.js">-->
<!--</script>-->
<!--</div>-->

<!--&lt;!&ndash;경기 목록 위젯 예시&ndash;&gt;-->
<!--<div style="width: 30%">-->
<!--<div id="wg-api-football-games"-->
<!--     data-host="v3.football.api-sports.io"-->
<!--     data-key="491284416b36272d8e1bcd3262a74a9c"-->
<!--     data-date=""-->
<!--     data-league="39"-->
<!--     data-season="2023"-->
<!--     data-theme=""-->
<!--     data-refresh="15"-->
<!--     data-show-toolbar="true"-->
<!--     data-show-errors="false"-->
<!--     data-show-logos="true"-->
<!--     data-modal-game="true"-->
<!--     data-modal-standings="true"-->
<!--     data-modal-show-logos="true">-->
<!--</div>-->
<!--<script-->
<!--        type="module"-->
<!--        src="https://widgets.api-sports.io/2.0.3/widgets.js">-->
<!--</script>-->
<!--</div>-->

<!--&lt;!&ndash;특정 경기 위젯 예시&ndash;&gt;-->
<!--&lt;!&ndash;1035456&ndash;&gt;-->
<!--<div style="width: 30%">-->
<!--<div id="wg-api-football-game"-->
<!--     data-host="v3.football.api-sports.io"-->
<!--     data-key="491284416b36272d8e1bcd3262a74a9c"-->
<!--     data-id="1035456"-->
<!--     data-theme=""-->
<!--     data-refresh="15"-->
<!--     data-show-errors="false"-->
<!--     data-show-logos="true">-->
<!--</div>-->
<!--<script-->
<!--        type="module"-->
<!--        src="https://widgets.api-sports.io/2.0.3/widgets.js">-->
<!--</script>-->
<!--</div>-->
