<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <title>관리자 페이지</title>
</head>
<body>
<h1>admin page</h1>
<form action="/admin/cache/league" method="post">
    <button type="submit">Cache League [EPL]</button>
</form>
<form action="/admin/cache/team" method="post">
    <button type="submit">Cache Team [ManCity]</button>
</form>
<form action="/admin/cache/squad" method="post">
    <button type="submit">Cache Squad [ManCity]</button>
</form>
<!--&lt;!&ndash;순위 위젯 예시&ndash;&gt;-->
<!--<div style="width: 30%">-->
<!--<div id="wg-api-football-standings"-->
<!--     data-host="v3.football.api-sports.io"-->
<!--     data-key="491284416b36272d8e1bcd3262a74a9c"-->
<!--     data-league="39"-->
<!--     data-team=""-->
<!--     data-season="2023"-->
<!--     data-theme=""-->
<!--     data-show-errors="false"-->
<!--     data-show-logos="true"-->
<!--     class="wg_loader">-->
<!--</div>-->
<!--<script-->
<!--        type="module"-->
<!--        src="https://widgets.api-sports.io/2.0.3/widgets.js">-->
<!--</script>-->
<!--</div>-->

<!--&lt;!&ndash;경기 목록 위젯 예시&ndash;&gt;-->
<!--<div style="width: 30%">-->
<!--<div id="wg-api-football-games"-->
<!--     data-host="v3.football.api-sports.io"-->
<!--     data-key="491284416b36272d8e1bcd3262a74a9c"-->
<!--     data-date=""-->
<!--     data-league="39"-->
<!--     data-season="2023"-->
<!--     data-theme=""-->
<!--     data-refresh="15"-->
<!--     data-show-toolbar="true"-->
<!--     data-show-errors="false"-->
<!--     data-show-logos="true"-->
<!--     data-modal-game="true"-->
<!--     data-modal-standings="true"-->
<!--     data-modal-show-logos="true">-->
<!--</div>-->
<!--<script-->
<!--        type="module"-->
<!--        src="https://widgets.api-sports.io/2.0.3/widgets.js">-->
<!--</script>-->
<!--</div>-->

<!--&lt;!&ndash;특정 경기 위젯 예시&ndash;&gt;-->
<!--&lt;!&ndash;1035456&ndash;&gt;-->
<!--<div style="width: 30%">-->
<!--<div id="wg-api-football-game"-->
<!--     data-host="v3.football.api-sports.io"-->
<!--     data-key="491284416b36272d8e1bcd3262a74a9c"-->
<!--     data-id="1035456"-->
<!--     data-theme=""-->
<!--     data-refresh="15"-->
<!--     data-show-errors="false"-->
<!--     data-show-logos="true">-->
<!--</div>-->
<!--<script-->
<!--        type="module"-->
<!--        src="https://widgets.api-sports.io/2.0.3/widgets.js">-->
<!--</script>-->
<!--</div>-->
</body>
</html>
