HELP.md
.gradle
.kotlin
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
src/main/.DS_Store

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### secret keys ###
**/application-secret.yml
**/application-aws.yml
**/application-path.yml
**/application-api.yml
**/application-apirefacsecret.yml
src/main/resources/config/dev/application-apirefacsecret.yml
!src/main/resources/config/dev/**

### AWS Cloudfront pem key files
/src/main/resources/keys/

### secret ai context
.ai/secret/**

!docker/**
!docker/dev/**

.DS_Store
**/.DS_Store

/monitoring/*

.ai

monitoring/prometheus/credentials.yml
monitoring/prometheus/secrets/*

.env/**
.env

lombok.config
lombok.jar

docs/**
