# Footballay Core - Base Configuration
# 모든 환경에서 공통으로 사용하는 기본 설정

spring:
  application:
    name: footballay-core

  data:
    redis:
      repositories:
        enabled: false

  jackson:
    time-zone: Asia/Seoul

  web:
    resources:
      add-mappings: false

#  flyway:
#    enabled: true
#    locations: classpath:db/migration
#    baseline-on-migrate: true
#    baseline-version: 1
#    default-schema: footballay_core
#    schemas: footballay_core

server:
  forward-headers-strategy: framework

# SpringDoc OpenAPI Configuration
springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    operations-sorter: method
    tags-sorter: alpha
    display-request-duration: true
    doc-expansion: none
  show-actuator: false

logging:
  level:
    root: INFO
    org:
      springframework: INFO
      hibernate: INFO

# footballay.com 과 gyechunhoe.com 의 메인 페이지 구분시
app:
  # DEPRECATED: use app.domain instead
  domain: 'gyechunhoe.com'

  footballay:
    domain: 'footballay.com'
    static:
      domain: 'static.footballay.com'
  gyechunhoe:
    domain: 'gyechunhoe.com'
    static:
      domain: 'static.gyechunhoe.com'
  gyechune:
    domain: 'gyechune.com'
    static:
      domain: 'static.gyechune.com'

# Football Data Provider 설정
footballay:
  provider:
    primary: apisports
    secondary: sportmonks

# 세션 쿠키 설정
cookies:
  remember-me:
    name: "remember-me"
    max-age: 1209600 # 2주 (단위: 초)
