<included>
    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
        <http>
            <url>${lokiUrl}</url>
            <auth>
                <username>${lokiUsername}</username>
                <password>${lokiPassword}</password>
            </auth>
        </http>

        <batchMaxItems>100</batchMaxItems>
        <batchTimeoutMs>2000</batchTimeoutMs>

        <format class="com.github.loki4j.logback.JsonEncoder">
            <label>
                <pattern>application=footballay,service_name=footballay,environment=prod</pattern>
            </label>
            <staticLabels>true</staticLabels>
        </format>
    </appender>

    <root level="INFO">
        <appender-ref ref="LOKI"/>
        <appender-ref ref="CONSOLE"/>
    </root>
</included>
